.FormModal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModalInputs{
    min-width: 720px;
    padding: 24px;
    display: flex;
    align-items: inherit;
    flex-direction: column;
}

.IncreaseInputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 12px;
}

.InputGroup {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.Input {
    min-height: 70px;
    margin-top: 6px;
    width: 100%;
}

.InputGroup .Input + .Input {
    margin-left: 12px;
}

.RightButtons {
    margin-top: 12px;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.RightButtons button + button{
    margin-left: 12px;
}

